.main-footer{
    height: 200px;
    background-color: black;
    color: white;
}
.facebook{
    color: #eb3223  #4968ad
}
.youtube{
    color: #eb3223
}
.twitter{
    color: #49a1eb
}
.social{
    margin: 1rem 1rem;
}